{% extends 'core/base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Customer Trade Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Customer Trade Details</li>
          <li class="breadcrumb-item active">{{user.name}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
     

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            {% if outcome %}
            <!-- Stock Card -->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Stock <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>${{current_value}}</h6>
                      {% if profit %}
                      <span class="text-success small pt-1 fw-bold">${{trade_return}} ({{portfolio_return}}%)</span> <span class="text-muted small pt-2 ps-1">Increase</span>
                      {% else %}
                      <span class="text-danger small pt-1 fw-bold">${{trade_return}} ({{portfolio_return}}%)</span> <span class="text-muted small pt-2 ps-1">Decrease</span>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Stock Card -->

           

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

              
                <div class="card-body">
                  <h5 class="card-title">Trade Report</h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    var outcome = {{outcome|safe}}
                    var trade_time ={{trade_time|safe}}
                    console.log(outcome)
                    console.log(trade_time)
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [ {
                          name: 'Profit and Lose',
                          data: outcome
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'time',
                          categories: trade_time
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->
            

                    
                  </div><!-- End Customers Card -->
            {% endif %}

          
          

          </div>
        </div><!-- End Left side columns -->

       

     
    </section>

  </main><!-- End #main -->


{% endblock main %}